<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hotel Images</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>
</head>
<body>


			<div class="col-md-4">
				{{ v1 }}
					<img src="{{ img_1 }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
			</div>
			<div class="col-md-4">
				{{ v2 }}
					<img src="{{ img_2 }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
			</div>
			<div class="col-md-4">
				{{ comb }}
					<img src="{{ img_3 }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
			</div>

</body>
</html>
